
{#{{ dump(panelView) }}#}

{% for row in panelView.rows %}
    <div class="row">
        {% for column in row.columns %}
            <div class="col-md-{{ column.width }}">
                {# TODO : mettre condition sur widget ou custom element #}
                {{ ev_widget_render(column.element) }}
            </div>
        {% endfor %}
    </div>
{% endfor %}
